body {
    width: 100%; /* Cambiado a 100% para ocupar todo el ancho */
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centrado horizontalmente */
    margin-top: 50px;
}

header {
    padding: 20px; /* Añadido padding para mejorar el espaciado */
}

h1 {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 600;
    margin: 5px;
}

h2 {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: grey;
}

section .galeria {
    display: flex;
    flex-wrap: wrap; /* Permitir que las imágenes se ajusten */
    justify-content: center; /* Centrado de las imágenes */
}

section .galeria img {
    /* width: 150px;  */
    /* height: auto;  */
    margin: 5px; 
}
button {
    padding: 20px 60px; border-radius: 10px;
    margin: 20px;
    font-size: 19px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    border: none;
    background-color: #da9cea;
    color: #3a0846;
    transition: all 0.3s ease;
}

button:hover {
    cursor: pointer;
    scale: 1.1;
}

@media (min-width: 375px) and (max-width: 414px) {
    /* section .galeria img {
        width: calc(50% - 10px);
    } */
}
