body {
    position: relative;
    margin: 0;
    --background-image: url('/src/images/noche-estrellada.jpg'); /* Default background */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    filter: brightness(0.4); /* Aplica la oscuridad solo a la imagen */
    z-index: -1; /* Asegura que la imagen esté detrás del contenido */
}

.bienvenida {
    width: 100%;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.bienvenida .text {
    position: absolute;
    top: 30%;
}

h1, h2 {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 600;
    margin: 5px;
    color: white;
    font-size: 40px;
}

h1 span {
    font-weight: 900;
}

h2 {
    color: rgb(219, 219, 219);
    font-size: 20px;
}

.links {
    position: absolute;
    top: 45%;
}

button {
    padding: 17px 60px;
    border-radius: 10px;
    margin: 20px;
    font-size: 19px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    border: none;
    background-color: #BBE4FC;
    color: #095583;
    font-weight: 500;
    transition: all 0.4s ease;
}

button:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #095583;
    color: #BBE4FC;
}

footer {
    position: absolute;
    top: 85%;
    background-color: rgba(0, 0, 0, 0.675);
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 375px) and (max-width: 414px) {
    section .galeria img {
        width: calc(50% - 10px);
    }
}
