body {
    width: 100%; /* Cambiado a 100% para ocupar todo el ancho */
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centrado horizontalmente */
    margin-top: 50px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; /* Fuente general */
}

header {
    padding: 20px; /* Añadido padding para mejorar el espaciado */
}

h1 {
    font-weight: 600;
    margin: 5px;
}

h2 {
    font-weight: 600;
    color: grey;
}

.poemas {
    padding: 30px; /* Añadir un poco de padding */
    max-width: 600px; /* Ancho máximo para el contenedor de poemas */
}

.poemas p {
    font-style: italic; /* Estilo en cursiva */
    font-family: 'Georgia', serif; /* Fuente bonita */
    font-size: 18px; /* Tamaño de fuente */
    margin: 10px 0; /* Espaciado entre poemas */
    color: #3a0846; /* Color de texto */
}

button {
    padding: 20px 60px;
    border-radius: 10px;
    margin: 20px;
    font-size: 19px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    border: none;
    background-color: #da9cea;
    color: #3a0846;
    transition: all 0.3s ease;
}

button:hover {
    cursor: pointer;
    scale: 1.1;
}

@media (min-width: 375px) and (max-width: 414px) {

    .poemas p {
        font-size: 16px; /* Ajustar el tamaño de fuente en pantallas más pequeñas */
    }
}
